@import "cssReset.scss";
@import "mixins";
@import "variables";

@include fontFace("GalanoGrotesque", "GalanoGrotesque-Regular");
@include fontFace("GalanoGrotesque-Light", "GalanoGrotesque-Light");
@include fontFace("GalanoGrotesque-Medium", "GalanoGrotesque-Medium");
@include fontFace("GalanoGrotesque-SemiBold", "GalanoGrotesque-SemiBold");
@include fontFace("GalanoGrotesque-Bold", "GalanoGrotesque-Bold");

html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: GalanoGrotesque;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}